<div class="visibility">
	<select class="visibility-select" name='visibility'>
		<option value="public">Public</option>
		<option value="private">Only me</option>
		<option value="custom">Custom</option>
	</select>
</div>
