{% macro link(node) -%}
    <a href="{{ url_for('node_view') }}?id={{ node.id }}" class="u">{{ node.name }}</a>
{% endmacro -%}

{% macro link_id(node_id) -%}
    {{ link( get_node(node_id) ) }}
{% endmacro -%}

{% macro date(node) -%}
    {% set date = date_time(node.date) %}
    <time datetime="{{ date.to_html() }}">{{ date.readable() }}</time>
{% endmacro -%}
