@charset "UTF-8";
html, body, #container, #content {
  height: 100%;
  width: 100%;
  min-width: 255px; }

#content {
  padding-bottom: 40px;
  overflow-x: hidden; }
  @media only screen and (max-width: 550px) {
    #content {
      padding-bottom: 0; } }

body {
  padding-top: 50px; }

footer {
  margin-top: -40px;
  height: 40px;
  background: #eee;
  padding-right: 15px;
  padding-left: 30px;
  padding-top: 10px;
  color: #aaa;
  border-top: 1px dashed #aaa;
  font-size: 12px; }
  @media only screen and (max-width: 769px) {
    footer {
      padding-right: 0;
      padding-left: 0; } }
  @media only screen and (max-width: 550px) {
    footer {
      display: none; } }
  footer li {
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px dashed #ccc; }
  footer a {
    color: #aaa;
    text-decoration: underline dashed !important; }

a.u {
  color: green; }

.thought_to_node {
  position: relative;
  margin-top: 6px; }
  .thought_to_node .form-footer {
    padding-right: 260px;
    width: 100%; }
    .thought_to_node .form-footer .buttons {
      float: right;
      margin-right: -260px; }
    .thought_to_node .form-footer .thought, .thought_to_node .form-footer .thought .add-thought {
      width: 100%; }
    .thought_to_node .form-footer .visibility {
      max-width: 135px;
      min-width: 125px; }
  .thought_to_node label {
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    margin-bottom: 0;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    .thought_to_node .form-footer {
      padding-right: 190px; }
      .thought_to_node .form-footer .buttons {
        margin-right: -190px; } }
  @media only screen and (max-width: 769px) {
    .thought_to_node .form-footer {
      display: table;
      padding: 0; }
      .thought_to_node .form-footer .buttons {
        display: table-footer-group;
        margin: 0; }
      .thought_to_node .form-footer .thought {
        display: table-header-group;
        margin-bottom: 5px; }
    .thought_to_node .thought_about {
      display: none; } }

#add_node_form .form-footer {
  position: absolute;
  bottom: 6px;
  right: 12px; }

.form-footer .visibility, .form-footer button {
  float: right; }
.form-footer .visibility {
  margin-right: 6px;
  min-width: 120px;
  max-width: 200px; }
  .form-footer .visibility input {
    color: transparent !important; }
.form-footer .selectize-input, .form-footer button {
  height: 34px; }

.visibility-select * {
  cursor: pointer; }

.selectize-input .visibility-option {
  margin-right: 25px; }

.visibility-option .glyphicon {
  margin-right: 10px; }

#node_type_chooser {
  overflow: hidden;
  height: 34px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-size: 0; }
  #node_type_chooser a {
    font-size: 14px;
    display: inline-block;
    float: inherit; }
    #node_type_chooser a:focus {
      outline: none; }
    #node_type_chooser a::-moz-focus-inner {
      border: 0; }

.dynamic-content-display .input-container {
  display: none !important; }

.dynamic-content-display .shown {
  display: block !important; }

.little-box, #node_creator, #node_details, #register_box, #promo_box, .news_feed {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff; }

.little-box, #node_creator, #node_details, #register_box, #promo_box, .news_feed, .h-panel, #dynamic_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#single_panel {
  overflow-y: auto;
  max-height: 100%; }

.h-panel {
  position: relative;
  height: 100%;
  background: transparent; }
  @media only screen and (max-width: 769px) {
    .h-panel {
      padding: 0; } }

#left_panel {
  padding-right: 565px;
  -moz-transition: padding-right 0 ease, width 0.4s ease;
  -webkit-transition: padding-right 0 ease, width 0.4s ease;
  -o-transition: padding-right 0 ease, width 0.4s ease;
  transition: padding-right 0 ease, width 0.4s ease; }
  @media only screen and (max-width: 550px) {
    #left_panel {
      padding-right: 0; } }
  @media only screen and (min-width: 551px) and (max-width: 769px) {
    #left_panel {
      padding-right: 335px; } }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    #left_panel {
      padding-right: 472.5px; } }

#right_panel {
  padding-top: 15px;
  right: 20px;
  z-index: 3;
  float: right;
  -moz-transition: right 0.4s ease, padding-top 0.5s ease;
  -webkit-transition: right 0.4s ease, padding-top 0.5s ease;
  -o-transition: right 0.4s ease, padding-top 0.5s ease;
  transition: right 0.4s ease, padding-top 0.5s ease; }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    #right_panel {
      right: 15px; } }
  @media only screen and (min-width: 551px) and (max-width: 769px) {
    #right_panel {
      right: 10px; } }
  @media only screen and (max-width: 550px) {
    #right_panel {
      right: -70%;
      width: 85%; }
      #right_panel:hover {
        right: 0; }
      #right_panel.expanded {
        right: 0; } }

#over-network-toolbar {
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  top: 15px;
  height: 34px;
  width: 100%;
  -moz-transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease; }
  @media only screen and (max-width: 550px) {
    #over-network-toolbar {
      width: 85%; } }
  #over-network-toolbar input, #over-network-toolbar button {
    z-index: 2; }
  #over-network-toolbar .selectize-control, #over-network-toolbar button {
    height: 34px; }
  #over-network-toolbar .selectize-dropdown {
    position: absolute;
    z-index: 15; }
  #over-network-toolbar .selectize-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.9); }
    #over-network-toolbar .selectize-input.focus {
      background: #fff; }
    #over-network-toolbar .selectize-input::after {
      display: none; }

.network-cont {
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 550px) {
    .network-cont {
      position: absolute; } }

#network {
  position: relative;
  height: 100%;
  top: -49px; }
  #network canvas {
    position: relative;
    z-index: 0; }

.carousel {
  margin: 0 auto;
  width: 100%;
  height: 150px; }
  .carousel .item {
    height: 150px; }

.carousel-caption {
  color: #000;
  text-shadow: 0 0 5px #fff;
  bottom: 0; }
  .carousel-caption h3, .carousel-caption p {
    background: rgba(255, 255, 255, 0.8); }
  .carousel-caption h3 {
    margin-bottom: 0;
    padding-bottom: 10px; }

.carousel-control {
  background: none !important;
  filter: none !important;
  progid: none !important; }

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 150px;
  max-width: none; }

@media only screen and (max-width: 1100px) {
  .navbar-text {
    display: none; } }

/* Container for both: presenter and node creator */
#dynamic_box {
  background: #fff;
  -moz-transition: height 0.5s ease, width 0.4s ease, margin-top 0.5s ease;
  -webkit-transition: height 0.5s ease, width 0.4s ease, margin-top 0.5s ease;
  -o-transition: height 0.5s ease, width 0.4s ease, margin-top 0.5s ease;
  transition: height 0.5s ease, width 0.4s ease, margin-top 0.5s ease;
  position: relative;
  height: 170px;
  #margin-bottom: 10px;
  width: 550px;
  min-width: 220px;
  margin-top: -170px;
  top: -15px; }
  @media only screen and (max-width: 550px) {
    #dynamic_box {
      width: 100%; } }
  @media only screen and (min-width: 551px) and (max-width: 769px) {
    #dynamic_box {
      width: 330px; } }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    #dynamic_box {
      width: 467.5px; } }

#right_panel {
  padding-top: 200px; }

.expanded #dynamic_box, .expanded #node_creator, .expanded #node_details {
  height: 450px !important; }
.expanded #node_details_inner {
  height: 365px !important; }
  @media only screen and (max-width: 769px) {
    .expanded #node_details_inner {
      height: 350px !important; } }
.expanded #dynamic_box {
  margin-top: -450px !important; }
.expanded#right_panel {
  padding-top: 480px !important; }

.semi-expanded #dynamic_box, .semi-expanded #node_creator, .semi-expanded #node_details {
  height: 185px; }
.semi-expanded #dynamic_box {
  margin-top: -185px; }
.semi-expanded#right_panel {
  padding-top: 215px; }

.selectize-control .owner {
  display: inline-block;
  float: right;
  font-size: 11px;
  opacity: 0.8; }
  .selectize-control .owner::before {
    content: "by "; }

/* Presenter */
#nd_label_cont {
  position: relative;
  height: 34px; }
  #nd_label_cont h3 {
    position: absolute;
    top: 6px;
    left: 0;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-left: 20px;
    height: 100%; }
  #nd_label_cont h3::after {
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 80%, #fff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.95)), color-stop(100%, #fff));
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 80%, #fff 100%);
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 80%, #fff 100%);
    background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 80%, #fff 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 80%, #fff 100%);
    content: " ";
    color: transparent;
    width: 130px;
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-block;
    border-right: 30px solid #fff; }
  #nd_label_cont h3, #nd_label_cont form input {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 20px; }
  #nd_label_cont form {
    display: none; }
  #nd_label_cont form input {
    padding: 3px 5px; }
  #nd_label_cont .input-group {
    width: 100%;
    padding-left: 14px; }

#node_details .main-picture {
  max-width: 100%;
  overflow: hidden;
  text-align: center; }
  #node_details .main-picture img {
    max-width: 100%; }
#node_details .content .type {
  position: absolute;
  top: 9px; }
#node_details .content .summary {
  position: relative; }
  #node_details .content .summary .overlay {
    position: absolute;
    right: 0px;
    padding: 2px 5px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 5px; }
  #node_details .content .summary .owned-by, #node_details .content .summary .visibility {
    display: inline-block; }

.edition-active .edit-icon {
  display: none !important; }
.edition-active form {
  display: block !important; }

.edit-permission .edit-icon {
  display: block; }

.edit-icon {
  display: none;
  position: absolute;
  top: 7px;
  z-index: 11; }

#edit_node_label {
  right: 33px; }

#edit_node_remove {
  right: 3px; }

.edit-permission h3::after {
  border-right-width: 60px !important; }

#node_details.active, #node_creator.active {
  opacity: 1;
  visibility: visible; }

@media only screen and (max-width: 1100px) {
  .tablet-hidden, .lab {
    max-width: 0;
    margin-right: 0;
    color: transparent;
    font-size: 0; } }

/* Node creator */
#register_box {
  min-height: 330px; }
  #register_box h3 {
    margin-top: 5px;
    margin-bottom: 20px; }
  #register_box #btn_register {
    width: 50%;
    font-weight: 700;
    float: right; }

.add-node-form .lab, .add-node-form .lab-type {
  display: inline-block;
  max-width: 300px;
  -moz-transition: max-width 0.4s ease, color 0.3s ease;
  -webkit-transition: max-width 0.4s ease, color 0.3s ease;
  -o-transition: max-width 0.4s ease, color 0.3s ease;
  transition: max-width 0.4s ease, color 0.3s ease; }

.add-node-form .lab {
  margin-right: 0.4ch; }

@media only screen and (min-width: 770px) and (max-width: 1100px) {
  .add-node-form .lab-type {
    text-transform: capitalize; } }
@media only screen and (min-width: 551px) and (max-width: 769px), only screen and (max-width: 550px) {
  .add-node-form .lab-type {
    max-width: 0;
    color: transparent;
    font-size: 0; } }

#node_details_inner {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0;
  -moz-transition: height 0.5s ease, opacity 0.2s ease;
  -webkit-transition: height 0.5s ease, opacity 0.2s ease;
  -o-transition: height 0.5s ease, opacity 0.2s ease;
  transition: height 0.5s ease, opacity 0.2s ease;
  opacity: 1; }
  #node_details_inner.dim {
    opacity: 0; }

#node_creator, #node_details {
  visibility: hidden;
  opacity: 0;
  -moz-transition: height 0.5s ease, opacity 0.3s ease, visibility 0s ease, width 0.4s ease;
  -webkit-transition: height 0.5s ease, opacity 0.3s ease, visibility 0s ease, width 0.4s ease;
  -o-transition: height 0.5s ease, opacity 0.3s ease, visibility 0s ease, width 0.4s ease;
  transition: height 0.5s ease, opacity 0.3s ease, visibility 0s ease, width 0.4s ease;
  position: absolute;
  width: 550px;
  min-width: 220px;
  height: 170px; }
  @media only screen and (max-width: 550px) {
    #node_creator, #node_details {
      width: 100%; } }
  @media only screen and (min-width: 551px) and (max-width: 769px) {
    #node_creator, #node_details {
      width: 330px; } }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    #node_creator, #node_details {
      width: 467.5px; } }
  @media only screen and (max-width: 550px) {
    #node_creator, #node_details {
      width: 100%; } }

#add_node_form .bootstrap-filestyle input[disabled] {
  background-color: #fff;
  cursor: default; }

/* news_feed */
.news_feed {
  width: 100%;
  overflow-y: scroll; }
  .news_feed .news {
    margin-bottom: 5px;
    clear: both; }
    .news_feed .news time {
      display: block;
      float: right; }
    .news_feed .news .thumb {
      max-width: 70%;
      clear: both;
      display: block;
      margin: auto; }
  .news_feed .username a {
    display: inline;
    color: green; }
  .news_feed .empty span {
    display: block;
    text-align: center;
    font-size: 200px;
    color: #eee;
    margin-top: 10px; }
  .news_feed .empty p {
    padding: 15px; }
  .news_feed .feed_pack {
    max-height: 99999px;
    opacity: 1;
    -moz-transition: opacity 0.45s ease, max-height 0.5s ease-in-out;
    -webkit-transition: opacity 0.45s ease, max-height 0.5s ease-in-out;
    -o-transition: opacity 0.45s ease, max-height 0.5s ease-in-out;
    transition: opacity 0.45s ease, max-height 0.5s ease-in-out; }
    .news_feed .feed_pack.new {
      max-height: 0px;
      opacity: 0; }
  .news_feed .more {
    text-align: center;
    margin: 20px; }
    .news_feed .more a {
      opacity: 1;
      -moz-transition: opacity 0.45s ease;
      -webkit-transition: opacity 0.45s ease;
      -o-transition: opacity 0.45s ease;
      transition: opacity 0.45s ease; }

#static_box {
  padding-bottom: 15px;
  width: 550px;
  min-width: 220px; }
  @media only screen and (max-width: 550px) {
    #static_box {
      width: 100%; } }
  @media only screen and (min-width: 551px) and (max-width: 769px) {
    #static_box {
      width: 330px; } }
  @media only screen and (min-width: 770px) and (max-width: 1100px) {
    #static_box {
      width: 467.5px; } }

.news_feed, #static_box {
  height: 100%;
  -moz-transition: width 0.4s ease, height 0.5s ease;
  -webkit-transition: width 0.4s ease, height 0.5s ease;
  -o-transition: width 0.4s ease, height 0.5s ease;
  transition: width 0.4s ease, height 0.5s ease; }

/*# sourceMappingURL=style.css.map */
