$font-stack: Helvetica, sans-serif

//only could be removed in future


$tablet-s: 770
$tablet-e: 1100
$phone-e: 550

$phone: "only screen and (max-width: " + $phone-e + "px)"
$big-phone: "only screen and (min-width: " + ($phone-e + 1) + "px) and (max-width: " + ($tablet-s - 1) + "px)"
$tablet: "only screen and (min-width: " + ($tablet-s) + "px) and (max-width: " + $tablet-e + "px)"
$under-tablet: "only screen and (max-width: " + ($tablet-s - 1) + "px)"
$under-pc: "only screen and (max-width: " + $tablet-e + "px)"

$node-manager-height: 170px
$news-feed-transition-time: .4s

$button-height: 34px
$footer-height: 40px

$nav-bar-height: 50px
$expanding-time: .5s	// of details or news feed


=horizontal-gradient($color_1, $color_2, $color_3)
	background: -moz-linear-gradient(0deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, $color_1), color-stop(80%, $color_2), color-stop(100%, $color_3))
	background: -webkit-linear-gradient(0deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -o-linear-gradient(0deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -ms-linear-gradient(0deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: linear-gradient(90deg, $color_1 0%, $color_2 80%, $color_3 100%)

=vertical-gradient($color_1, $color_2, $color_3)
	background: -moz-linear-gradient(90deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color_1), color-stop(80%, $color_2), color-stop(100%, $color_3))
	background: -webkit-linear-gradient(90deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -o-linear-gradient(90deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: -ms-linear-gradient(90deg, $color_1 0%, $color_2 80%, $color_3 100%)
	background: linear-gradient(0deg, $color_1 0%, $color_2 80%, $color_3 100%)



=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius


=transition($atr...)
	-moz-transition: $atr
	-webkit-transition: $atr
	-o-transition: $atr
	transition: $atr

html, body, #container, #content
	height: 100%
	width: 100%
	min-width: 255px

#content
	padding-bottom: $footer-height
	overflow-x: hidden
	@media #{$phone}
		padding-bottom: 0

body
	padding-top: $nav-bar-height
	//font-style: $font-stack


footer
	margin-top: -#{$footer-height}
	height: $footer-height
	background: #eee
	padding-right: 15px
	padding-left: 30px
	padding-top: 10px
	color: #aaa
	border-top: 1px dashed #aaa
	font-size: 12px
	@media #{$under-tablet}
		padding-right: 0
		padding-left: 0
	@media #{$phone}
		display: none
	li
		display: inline-block
		padding-right: 5px
		margin-right: 5px
		border-right: 1px dashed #ccc
	a
		color: #aaa
		text-decoration: underline dashed!important

a.u
	color: green


.thought_to_node
	clear:both
	position: relative
	margin-top: 6px
	.form-footer
		padding-right: 260px
		width: 100%

		.buttons
			float: right
			margin-right: -260px

		.thought, .thought .add-thought
			width: 100%

		.visibility
			max-width: 135px
			min-width: 125px

	label
		font-size: 14px
		height: 19px
		line-height: 19px
		margin-bottom: 0
		font-weight: normal
		width: 100%
		overflow: hidden
		white-space: nowrap


	@media #{$tablet}
		.form-footer
			padding-right: 190px
			.buttons
				margin-right: -190px

	@media #{$under-tablet}

		.form-footer
			display: table
			padding: 0
			.buttons
				display: table-footer-group
				margin: 0

			.thought
				display: table-header-group
				margin-bottom: 5px

		.thought_about
			display: none

#add_node_form
	.form-footer
		position: absolute
		bottom: 6px
		right: 12px


.form-footer
	.visibility, button
		float: right
	.visibility
		margin-right: 6px
		min-width: 120px
		max-width: 200px
		input
			color: transparent !important

	.selectize-input, button
		height: $button-height

.visibility-select *
	cursor: pointer

.selectize-input
	.visibility-option
		margin-right: 25px

.visibility-option

	.glyphicon
		margin-right: 10px


#node_type_chooser

	overflow: hidden
	height: $button-height
	margin-bottom: 10px
	white-space: nowrap
	font-size: 0

	a
		font-size: 14px
		display: inline-block
		float: inherit
		&:focus
			outline: none
		&::-moz-focus-inner
			border: 0


.dynamic-content-display .input-container
	display: none!important

.dynamic-content-display .shown
	display: block!important

.little-box
	border: 1px solid #ccc
	padding: 10px
	background: #fff

.little-box, .h-panel, #dynamic_box
	+border-radius(5px)


// TODO: uzależnić to od wysokości, nie od szerokości


=feed-width()
	$width: 550
	width: ($width) + px
	min-width: 220px
	@media #{$phone}
		width: 100%
	@media #{$big-phone}
		width: ($phone-e + $tablet-s)/4 + px
	@media #{$tablet}
		width: ($tablet-s + $tablet-e)/4 + px

$horizontal-time: .4s

#single_panel
	overflow-y: auto
	max-height: 100%

.h-panel
	position: relative
	height: 100%
	background: transparent

	@media #{$under-tablet}
		padding: 0

#left_panel
	$width: 545+20
	padding-right: ($width) + px
	@media #{$phone}
		padding-right: 0
	@media #{$big-phone}
		padding-right: ($phone-e + $tablet-s+20)/4 + px
	@media #{$tablet}
		padding-right: ($tablet-s + $tablet-e+20)/4 + px
	+transition(padding-right 0 ease, width $horizontal-time ease)

$right-panel-padding-top: 15px
$action-center-margin-bottom: 15px


#right_panel
	padding-top: $right-panel-padding-top
	right: 20px
	z-index: 3
	float: right
	@media #{$tablet}
		right: 15px
	@media #{$big-phone}
		right: 10px
	@media #{$phone}
		right: (-85% + 15%)
		width: 85%
		&:hover
			right: 0
		&.expanded
			right: 0
	+transition(right $horizontal-time ease, padding-top $expanding-time ease)

$over-network-toolbar-height: 34px

#over-network-toolbar
	padding-left: 10px
	padding-right: 20px
	position: relative
	top: $right-panel-padding-top
	height: $over-network-toolbar-height
	width: 100%
	+transition(width $horizontal-time ease)

	@media #{$phone}
		width: 85%

	input, button
		z-index: 2

	.selectize-control, button
		height: $over-network-toolbar-height

	.selectize-dropdown
		position: absolute
		z-index: 15

	.selectize-input

		+border-radius(0)
		background: rgba(255, 255, 255, .9)

		&.focus
			background: #fff

		&::after
			display: none

.network-cont
	width: 100%
	height: 100%
	@media #{$phone}
		position: absolute

#left_panel
	@media #{$phone}


#network
	position: relative
	height: 100%
	top: - ($over-network-toolbar-height + $right-panel-padding-top)

	canvas
		position: relative
		z-index: 0

.carousel
	margin: 0 auto
	width: 100%
	height: 150px
	.item
		height: 150px

.carousel-caption
	color: #000
	text-shadow: 0 0 5px #fff
	bottom: 0
	h3, p
		background: rgba(255,255,255,.8)
	h3
		margin-bottom: 0
		padding-bottom: 10px

.carousel-control
	background: none !important
	filter: none !important
	progid: none !important

.carousel img
	position: absolute
	top: 0
	left: 0
	min-width: 100%
	height: 150px
	max-width: none

.navbar-text
	@media #{$under-pc}
		display: none

.navbar-toggle .button-label
	//position: relative
	//top: -2px

/* Container for both: presenter and node creator */
#dynamic_box
	background: #fff
	+transition(height $expanding-time ease, width $news-feed-transition-time ease, margin-top $expanding-time ease)
	position: relative
	height: $node-manager-height
	#margin-bottom: 10px
	+feed-width()
	margin-top: -($node-manager-height)
	top: -$action-center-margin-bottom

#right_panel
	padding-top: ($right-panel-padding-top + $node-manager-height + $action-center-margin-bottom)

.expanded
	#dynamic_box, #node_creator, #node_details
		height: 450px!important

	#node_details_inner
		height: 365px !important
		@media #{$under-tablet}
			// create place for longer "add thought about"
			height: 350px !important

	#dynamic_box
		margin-top: -(450px)  !important

	&#right_panel
		padding-top: ($action-center-margin-bottom + $right-panel-padding-top + 450px)!important

.semi-expanded
	#dynamic_box, #node_creator, #node_details
		height: 185px

	#dynamic_box
		margin-top: -(185px)

	&#right_panel
		padding-top: ($action-center-margin-bottom + $right-panel-padding-top + 185px)



.selectize-control
	.owner
		display: inline-block
		float: right
		font-size: 11px
		opacity: 0.8

		&::before
			content: 'by '



/* Presenter */
#nd_label_cont
	position: relative
	height: 34px
	h3
		position: absolute
		top: 6px
		left: 0
		margin-top: 0
		overflow: hidden
		white-space: nowrap
		width: 100%
		padding-left: 20px
		height: 100%

	h3::after
		+horizontal-gradient(rgba(255,255,255,0), rgba(255,255,255,0.95), #fff)
		content: '\00a0'
		color: transparent
		width: 130px
		position: absolute
		right: 0
		height: 100%
		display: inline-block
		border-right: 30px solid #fff

	h3, form input
		font-family: inherit
		font-weight: 500
		line-height: 1.1
		color: inherit
		font-size: 20px
	form
		display: none
	form input
		padding: 3px 5px
	.input-group
		width: 100%
		padding-left: 20px - 6px

#node_details

	.main-picture
		max-width: 100%
		//height: 120px
		overflow: hidden
		text-align: center
		img
			max-width: 100%

	.content

		.type
			position: absolute
			top: 9px

		.summary
			position: relative

			.overlay
				position: absolute
				right: 0px
				padding: 2px 5px
				background: rgba(255, 255, 255, 0.9)
				border-bottom-left-radius: 5px

			.owned-by, .visibility
				display: inline-block


.edition-active
	.edit-icon
		display: none!important
	form
		display: block!important

.edit-permission
	.edit-icon
		display: block

.edit-icon
	display: none
	position: absolute
	top: 7px
	z-index: 11

#edit_node_label
	right: 33px

#edit_node_remove
	right: 3px


.edit-permission
	h3::after
		border-right-width: 60px!important

#node_details.active, #node_creator.active
	opacity: 1
	visibility: visible


.tablet-hidden, .lab
	@media #{$under-pc}
		max-width: 0
		margin-right: 0
		color: transparent
		// small hack for Firefox
		font-size: 0

/* Node creator */
#node_creator, #node_details, #register_box, #promo_box, .news_feed
	@extend .little-box

#register_box
	min-height: 330px
	h3
		margin-top: 5px
		margin-bottom: 20px

	#btn_register
		width: 50%
		font-weight: 700
		float: right

.add-node-form .lab, .add-node-form .lab-type
	display: inline-block
	max-width: 300px
	+transition(max-width $news-feed-transition-time ease, color .3s ease)

.add-node-form .lab
	margin-right: .4ch

.add-node-form .lab-type
	@media #{$tablet}
		text-transform: capitalize
	@media #{$big-phone}, #{$phone}
		max-width: 0
		color: transparent
		// small hack for Firefox
		font-size: 0

#node_details_inner
	position: relative
	overflow-y: auto
	overflow-x: hidden
	height: 0
	+transition(height $expanding-time ease, opacity .2s ease)
	opacity: 1

	&.dim
		opacity: 0



#node_creator, #node_details
	visibility: hidden
	opacity: 0
	+transition(height $expanding-time ease, opacity .3s ease, visibility 0s ease, width $news-feed-transition-time ease)
	position: absolute
	+feed-width()
	height: $node-manager-height
	@media #{$phone}
		width: 100%

#add_node_form
	.bootstrap-filestyle
		input[disabled]
			background-color: #fff
			cursor: default

/* news_feed */
.news_feed
	width: 100%
	overflow-y: scroll //auto too?

	.news
		margin-bottom: 5px
		clear: both

		time
			display: block
			float: right

		.thumb
			max-width: 70%
			clear: both
			display: block
			margin: auto

	.username a
		display: inline
		color: green

	.empty
		span
			display: block
			text-align: center
			font-size: 200px
			color: #eee
			margin-top: 10px
		p
			padding: 15px

	.feed_pack
		max-height: 99999px
		opacity: 1
		+transition(opacity .45s ease, max-height .5s ease-in-out)

		&.new
			max-height: 0px
			opacity: 0

	.more
		text-align: center
		margin: 20px
		a
			opacity: 1
			+transition(opacity .45s ease)


#static_box
	padding-bottom: 15px
	+feed-width()

.news_feed, #static_box
	clear:both
	height: 100%
	+transition(width $news-feed-transition-time ease, height $expanding-time ease)
