{%
    set icon_map_type = {
        'picture': 'picture',
        'thought': 'cloud',
        'thing': 'tree-deciduous',
        'action': 'fire',
        'user': 'user',
        'status': 'flash'
    }
%}
{%
    set icon_map_visibility = {
        'private': 'user',
        'public': 'globe'
    }
%}

{% import 'macros/nodes.html' as n %}


<div class="type">
    <span class="glyphicon glyphicon-{{ icon_map_type[active_node.type] }}"
        aria-hidden="true"
        title="Type: {{ active_node.type }}"></span>
</div>

<div class="summary">

    <div class="overlay">

        {% if active_node.type != 'user' %}
        <div class="owned-by">
            by
            {% if active_node and active_node.owner == current_user.id %}
                you
            {% else %}
                {{ n.link_id(active_node.owner) }}
            {% endif %}
        </div>
        {% endif %}

        <div class="visibility">
            <span class="glyphicon glyphicon-{{ icon_map_visibility.get(active_node.visibility, 'cog') }}"
                  aria-hidden="true"
                  title="Visibility: {{ active_node.visibility if active_node.visibility in ['private', 'public'] else 'custom' }}">
            </span>
        </div>

    </div>

    {% if active_node.type == 'picture' %}
    <div class="main-picture">
        <img src="/{{ active_node.src }}">
    </div>
    {% endif %}

</div>

{% if active_node.has_edges %}
{% for edge_type, edges in active_node.edges.iteritems() %}
<h5>{{ edge_type }}</h5>
<ul>
    {% for edge in edges %}
    <li>
        <span>{{ get_node(edge.start).name }}</span>
        ->
        <span>{{ get_node(edge.end).name }}</span>
        <span class="owner">by {{ get_node(edge.owner).name }}</span>
        <span class="date">on {{ edge.date }}</span>
    {% endfor %}
</ul>
{% endfor %}
{% endif %}



{#
relation.start →  relation.type relation.end relation.properties

Relationships of node in form:<br>
is a User<- linki wszędzi oczyiście prócza a<br>
likes movies<br>
loves Caroline<br>
is in a Relationship with Caroline<br>
<h5>In common with you</h5>
likes swimming<br>
#}
