<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="static/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		{% include 'dynamicVariables.js' %}
	</script>
	<link href="static/selectize/selectize.css" rel="stylesheet" />
	<script src="static/selectize/selectize.min.js"></script>
	<link href="static/selectize/selectize.bootstrap3.css" rel="stylesheet" />

	{% assets "css_common" %}
    	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Alike - {% block title %}Create a map of your world{% endblock %}</title>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{% block header %}
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							{% if current_user.is_authenticated %}
								<span class="sr-only">Toggle user options</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							{% else %}
								<span class="button-label"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</span>
							{% endif %}
						</button>
					{% block header_logo %}
						<a class="navbar-brand" href="/">Alike</a>
						<p class="navbar-text">Create a map of your world</p>
					{% endblock %}
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						{% block header_collapse %}
						{% endblock %}
					</div>
				{% endblock %}
			</div>
		</nav>


		{% include 'messages.html' %}
	  	<div id="content">
			{% block content %}{% endblock %}
		</div>
		<footer>
			{% block footer %}
			<ul class="list-unstyled">
				<li>&copy; Copyright 2016 by <a href="#">Michał Krassowski</a></li>
				<li><a href="{{ url_for('license') }}">License</a></li>
			</ul>
			{% endblock %}
		</footer>
    </div>
{% block footer_js %}
{% endblock %}
</body>
</html>
