{% extends "dual_view.html" %}
{% block title %}
Explore
{% endblock %}
{% block header_collapse %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/node?id={{ current_user.id }}" class="u"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ current_user.username }}</a>
		{# <li><a href="/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Notifications <span class="badge">42</span></a> #}
		<li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
	</ul>
{% endblock %}
{% block dynamic_box %}
	{% include 'node_details.html' %}
	{% include 'node_creator.html' %}
{% endblock %}
{% block static_box %}
	{% include 'news_feed.html' %}
{% endblock %}

{% block footer_js %}
	{% assets "js_browser" %}
    	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
