{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="static/vis/vis.min.js"></script>
    <link href="static/vis/vis.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
	<div id="right_panel" class="h-panel{% if active_node is defined %} expanded{% endif %}">
	{% block right_panel %}
		<div id="dynamic_box">
			{% block dynamic_box %}
			{% endblock %}
		</div>
		<div id="static_box">
			{% block static_box %}
			{% endblock %}
		</div>
	{% endblock %}
	</div>
	<div id="left_panel" class="h-panel">
	{% block left_panel %}
		{% include 'viewer.html' %}
	{% endblock %}
	</div>
{% endblock %}
