{% extends 'single_view.html' %}
{% block single_panel %}

	<div class="row">
		<div class="col-md-9">
<h2>Alike Project</h2>

<p>All source code of this project, if the notice in a particular file does not state contrary was created by the folowing author and is protected by law.</p>
<p>&copy; Copyright 2016 by <a href="#">Michał Krassowski</a>. All rights reserved.</p>
<p>Components, which are property of theirs authors, are <mark>not</mark> a part of the project and they are covered by different licenses,
	stated in the source code.
	Most notable components are listed below to appreciate work of theirs authors.</p>


<h2>Components Licensing</h2>

<p>For comparision of licenses, check this awesome website: <a href="http://choosealicense.com/licenses/">choosealicense.com</a>.</p>

{% for license in licenses %}
	<h3>{{ license.full_name }}</h3>
	<p>The full text of the licence is available <a href="{{ license.url }}">here</a>.</p>
	<p>Following components, used in the project are {{ license.name }} licensed:</p>

	{% for component in license.components %}
	<div class="panel panel-default">
		<div class="panel-heading"><h4 class="panel-title">{{ component.name }}</h4></div>
		<div class="panel-body">

			{% if component.desc %}
			<blockquote>
				<p>{{ component.desc }}</p>
			</blockquote>
			{% endif %}

			{% if component.authors %}
			<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Notable authors: {{ component.authors | join(', ') }}</p>
			{% endif %}

			<p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Learn more: <a href="{{ component.url }}">{{ component.url }}</a></p>
		</div>
	</div>
	{% endfor %}
{% endfor %}

		</div>
	</div>

{% endblock %}

{#
http://programmers.stackexchange.com/questions/234511/what-is-the-best-practice-for-arranging-third-party-library-licenses-paperwork
http://programmers.stackexchange.com/questions/125836/do-you-have-to-include-a-license-notice-with-every-source-file
https://www.google.pl/search?client=ubuntu&hs=Xaq&channel=fs&q=3th+party+licenses+listing+on+website&spell=1&sa=X&ved=0ahUKEwjMk_CF9ojLAhUDLZoKHa8UAMgQBQgZKAA
#}
