<form method="post" action="login" class="navbar-form navbar-right">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <div class="form-group">
    <label class="sr-only" for="e-email">Email</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </span>
      <input type="email" name="email" class="form-control" id="e-email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="e-password">Password</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </span>
      <input type="password" name="password" class="form-control" id="e-password" placeholder="Password">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
