{% extends "single_view.html" %}
{% block single_panel %}
<h2>Login in</h2>
<form method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember_me"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
Don't have an account? <a href="/">Sign up now</a>.
{% endblock %}
