{% with messages=get_flashed_messages() %}
	{% if messages %}
		<div class="flashes">
			{% for message in messages %}
				<div class="alert alert-warning" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endwith %}
