{% import 'macros/nodes.html' as n %}
{% for news in feed %}
	<div class="news">
        {{ n.date(news.status) }}
		<span class="username">{{ n.link(news.author) }}</span>
        {% if news.object == 'edge' %}
            {% set start = news.start %}
            {% set end = news.end %}
            {% if news.action == 'add' %}
				{% if start.id == end.id %}
					made a loop on
					{% if start.id == news.author.id %}
						himself
					{% else %}
						{{ news.determinant(start) }} node {{ n.link(start) }}
					{% endif %}
				{% elif news.determinant(start) == news.determinant(end) and news.determinant(start) != 'the' %}
					{% if start.id == news.author.id %}
						linked himself to {{ n.link(end) }}
					{% elif end.id == news.author.id %}
						linked {{ n.link(start) }} to himself
					{% else %}
						linked {{ news.determinant(start) }} nodes: {{ n.link(start) }} and {{ n.link(end) }}
					{% endif %}
				{% else %}
                	linked {{ news.determinant(start) }} node {{ n.link(start) }} to {{ news.determinant(end) }} node {{ n.link(end) }}
				{% endif %}
            {% else %}
                {{ news.action }}ed an edge between {{ news.determinant(start) }} node {{ n.link(start) }} and {{ news.determinant(end) }} node {{ n.link(end) }}
            {% endif %}
        {% elif news.object == 'thing' %}
            {% set node = news.get_node(0) %}

            {% if news.action == 'add' %}
                created a node {{ n.link(node) }}

			{% elif news.action == 'edit' %}
                modified a node {{ n.link(node) }}
            {% else %}

            {% endif %}
		{% elif news.object == 'action' %}
			{% set node = news.get_node(0) %}

			{% if news.action == 'add' %}
				created an action {{ n.link(node) }}

			{% elif news.action == 'edit' %}
				modified an action {{ n.link(node) }}
			{% else %}

			{% endif %}
		{% elif news.object == 'picture' %}
            {% set node = news.get_node(0) %}

            {% if news.action == 'add' %}
                added a picture: {{ n.link(node) }}
				<img src="/{{ node.src }}" class="thumb">

			{% elif news.action == 'edit' %}
				changed a picture: {{ n.link(node) }}
			{% else %}

            {% endif %}
		{% elif news.object == 'thought' %}
            {% set node = news.get_node(0) %}

            {% if news.action == 'add' %}
                added a thought:
				<a href='node?id={{ node.id }}' class='u t'>
					{{ thought(node) }}
				</a>
            {% else %}

            {% endif %}
        {% else %}
            {{ news.action }}ed {{ news.object }} with nodes: TODO, and edges: TODO
        {% endif %}
		{#<div class="footer">Strengthen connection | Add thought</div>#}
	</div>
{% endfor %}
