<div class="news_feed">
	{% if feed.length() %}
		<div id="feed_content">
			{% include 'news.html' %}
		</div>
		{% if not feed.end %}
			<div class="more">
				<a href="{{ url_for('news_feed') }}?date_to={{ feed.min_date }}" id="feed_more" class="btn btn-default">Load more</a>
			</div>
		{% endif %}
	{% else %}
		<div class="empty">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<p>This is a place where new activities of users linked with you will be shown.</p>
			<p>Just link yourself with another user to get some updates.<br>To see also your history here, connect yourself with a loop.</p>
		</div>
	{% endif %}
</div>
