
<div id="node_details" class="{{ 'active' if active_node }}">

	<div id="node_details_inner">
		<div id="nd_label_cont" class="{{ 'edit-permission' if active_node and active_node.owner == current_user.id }}">
			<h3 id="nd_label">{{ active_node.name if active_node }}</h3>
			<form id="nd_label_form" action="{{ url_for("change_node_label") }}" method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
				<div class="input-group">
					<label class="sr-only" for="nd_label_input">Node label</label>
					<input type="text" class="form-control" id="nd_label_input" name="label">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success" id="nd_label_save">
							Save
						</button>
					</span>
				</div>
			</form>

			<div class="edit-icon" id="edit_node_label">
				<button type="button" class="btn btn-default btn-xs" aria-label="Edit name" id="nd_label_edit">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
			</div>

			<div class="edit-icon" id="edit_node_remove">
				<button type="button" class="btn btn-default btn-xs" aria-label="Remove" id="nd_remove">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>


		</div>


		<div id="node_details_content" class="content">
			{% if active_node %}
				{% include 'active_node_details.html' %}
			{% endif %}
		</div>
	</div>

	<div class="thought_to_node">
	<form method="post" action="add_node" id="add_thought_to" class="form-inline">
		<div class="thought_about">
			<label for="thought_to">What do you think about
				<span id="thought_to_node">{{ 'yourself' if active_node and active_node.id == current_user.id else (active_node.name if active_node) }}</span>?</label>
		</div>
		<div class="form-footer">
		<div class="form-group buttons">
			<button type="submit" id="add_thought_to_btn" class="btn btn-success">Add <span class="lab">Thought</span></button>
			{% include "widgets/visibility.html" %}
		</div>
			<div class="form-group thought">
				<input type="text" name="add-thought" class="form-control add-thought" id="thought_to"
				value="{{ 'I' if active_node and active_node.id == current_user.id else (active_node.name if active_node) }}">
				<input type="hidden" name="type" value="thought">
			</div>
		</div>
	</form>
	</div>
</div>
