
<script src="static/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>


<div id="node_creator"{% if active_node is not defined %} class="active"{% endif %}>
	<div class="add-node-form">
		<div class="btn-group" id="node_type_chooser">
			<a href="#add-thought" id="st-thought" onclick="return nodeCreator.setType('thought')" class="btn btn-default">
				<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
				<span class="lab">Post your </span><span class="lab-type">thought</span>
			</a>
			<a href="#add-thing" id="st-thing" onclick="return nodeCreator.setType('thing')" class="btn btn-default">
				<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
				<span class="lab">Create a </span><span class="lab-type">thing</span>
			</a>
			<a href="#add-picture" id="st-picture" onclick="return nodeCreator.setType('picture')" class="btn btn-default">
				<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
				<span class="lab">Add </span><span class="lab-type">picture</span>
			</a>
			<a href="#add-action" id="st-action" onclick="return nodeCreator.setType('action')" class="btn btn-default">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				<span class="lab">Add an </span><span class="lab-type">action</span>
			</a>
	    </div>
		<form method="post" action="add_node" id="add_node_form">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<div class="form-group dynamic-content-display">
				<div class="input-container">
				<input type="text" id="add-thing" name="add-thing" class="form-control" placeholder="Eg. tree, my dog">
				</div>
				<div class="input-container">
				<input type="text" id="add-action" name="add-action" class="form-control" placeholder="Eg. love, studies">
				</div>
				<div class="input-container">
				<input type="file" id="add-picture" name="add-picture" accept="{{ accepted_mimetypes('image') | join(', ') }}">
				</div>
				<div class="input-container shown">
				<input type="text" id="add-thought" name="add-thought" class="form-control add-thought" placeholder="What do you have in minds?">
				</div>
			</div>
			<div class="form-footer">
				<button type="submit" id="add-node" class="btn btn-success">Add</button>
				{% include "widgets/visibility.html" %}
			</div>
		</form>
	</div>
</div>
