<div id="promo_box">
    <div id="carousel-example-captions" class="carousel slide" data-ride="carousel" data-interval="7000">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img data-holder-rendered="true" src="/static/images/promo/things.jpg">
                <div class="carousel-caption"> <h3>Map your world</h3> <p>Just from your perspective.<br>Keep it private, or share with others.</p>
                </div>
            </div>
            <div class="item">
                <img data-holder-rendered="true" src="/static/images/promo/keyboard.jpg">
                <div class="carousel-caption"> <h3>Just start typing</h3> <p>Create mind maps writing sentences.<br>Naturally, as you speak.</p>
                </div>
            </div>
            <div class="item">
                <img data-holder-rendered="true" src="/static/images/promo/beach-background.jpg">
                <div class="carousel-caption"> <h3>It's free!</h3> <p>Forever. Like the freedom of your minds.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
</div>
