{#<script type="text/javascript" src="static/bootstrap.min.js"></script>#}
<div id="register_box">
	<div class="sign-up">
		<h3>Sign up now</h3>
		<form method="post" action="register">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
		  <div class="form-group">
			<label for="email">Email address</label>
			<input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ request.form.email }}">
		  </div>
		  <div class="form-group">
			<label for="r-email">Re-enter email address</label>
			<input type="email" name="confirm_email" class="form-control" id="r-email" placeholder="Email" value="{{ request.form.confirm_email }}">
		  </div>
		  <div class="form-group">
			<label for="r-password">Password</label>
			<input type="password" name="password" class="form-control" id="r-password" placeholder="Password">
		  </div>
		  <button type="submit" id="btn_register" class="btn btn-success">Join us!</button>
		</form>
	</div>
</div>
