<div class="network-cont">
	<div id="over-network-toolbar">
		<div class="input-group">
			{% if current_user.is_authenticated %}
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="network.addEdgeMode();">Link<span class="tablet-hidden"> by dragging</span></button>
			</span>
			{% endif %}
			<input type="text" class="form-control" placeholder="Search for..." id="viewer-search">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" aria-label="Search">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</span>
		</div>

	</div>
	<div id="network"></div>
</div>
<script type="text/javascript">
	var startingNodes = {{ starting.nodes | safe }};
	var startingEdges = {{ starting.edges | safe }};
</script>
{% assets "js_network" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
